body{
    margin:0 auto;
    font-family: poppins;
}
span{
    color:#2f86d6;
}

/*TOPO*/
.topo{
    height: 140px;
    width: 100%;

    background-color: white;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}
.logo{
    padding-left:80px;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.logo img{
    width: 80px;
    height: 80px;
    align-items: center;
}
.logo h1{
    margin:0;

    font-size: 30px;
    color: black;
    font-family: Poppins;
    padding-left: 10px;
}
.logo p{
    margin:0;
    
    font-size: 15px;
    color: #2f86d6;
    font-family: Poppins;
    padding-left: 10px;
    font-weight: bold;
}

.menu{
    padding-right:100px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: right;
}
.menu a{
    padding-right: 10px;
    text-decoration: none;
    color:black;
    font-family: Poppins;
    font-weight:500;
    font-size: 20px;
}

/*BANNER*/

.banner{
    background-color: #2f86d6;
    color: white;

    min-height: 500px;
    max-height: 1000px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.texto-banner{
    max-width: 500px;
}
.banner p{
    font-size:20px;
    line-height: 30px;
    text-align: left;
}
.banner h2{
    font-size:30px;
    line-height: 40px;
    text-align: left;
}
.banner img{
    height: 90%;
    padding-bottom: 20px;
}

/*CHAMADA PARA VALORES*/
.chamada-preços{
    background-color:#032c53;
    color: white;

    height: 150px;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 90px;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.chamada-preços h3{
    font-size:25px;
    line-height: 30px;
    text-align: left;
    margin: 0;
    padding-bottom: 10px;
    max-width: 500px;
}
.chamada-preços p{
    font-size:20px;
    line-height: 30px;
    text-align: left;
    margin: 0;
}
.botão{
    background-color: #2f86d6;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #2330327a;

    padding: 20px 40px;
}
.botão a{
    color:white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.botão img{
    width:20px; 
    padding-right: 10px;
}

/*INFORMAÇÕES*/
.informações{
    background-color:white;
    color: black;

    height: 500px;

    padding-right: 80px;
    padding-left: 80px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.informações h2{
    font-size:25px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 80px;
}
.containers-info{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.info{
    width: 350px;
    text-align: center;
    align-items: center;
 }
.info h4{
    font-size: 20px;
}
.info p{
    font-size: 18px;
}
.info img{
    width: 100px;
}

/*TABELA PLANOS*/
.planos{
    background-color:rgb(224, 224, 224);
    color: black;

    height: 700px;
}
.planos h2{
    font-size:25px;
    line-height: 40px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 80px;
}
.planos table{
    background-color: white;
    box-shadow: rgb(0, 110, 255) 0px 7px 40px 0px;
    margin: 0 auto;

    text-align: center;
}
.titulo-coluna{
    padding-top: 20px;
    color:#032c53;
}
.planos table img{
    width: 100px;
}
.planos table .anotação{
    color: gray;
    font-size: 10px;
    font-weight: normal;
    padding-bottom:10px;
}
.planos table td{
    font-size: 15px;
}
.planos table .gray{
    background-color: rgb(241, 241, 241);
}
.planos table td,
.planos table tr{
    padding-left:30px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:10px;
}

/*CONTATOS*/
.contatos{
    background-color: white;
    text-align: center;
    margin: 0 auto;
    height: 250px;
    width: 100%;
    padding-bottom: 60px;
    padding-top:60px;
}

.contatos p{
    line-height: 30px;
}
.contatos .ultima-linha{
    padding-bottom:40px;
}
.logo-pequena{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding-top: 40px;
}
.logo-pequena img{
    width: 50px;
}
.logo-pequena h1{
    font-size: 20px;
    margin: 0;
    text-align: left;
    padding-left: 10px;
    padding-top:15px;
    line-height: 5px;
}
.logo-pequena p{
    font-size: 10px;
    margin: 0;
    text-align: left;
    padding-left: 10px;
    color: #2f86d6;
}

/*RODAPÉ*/
.rodape{
    font-size: 15px;
    text-align: center;

    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0 auto;
    
    background-color: rgb(185, 221, 255);
}

/**PAGINA PREÇOS**/
.linha-azul{
    background-color: #2f86d6;
    height: 4px;
    box-shadow: 1px 0 4px #0184ff;
}
table{
    margin: 0 auto; 
}
.conteiner-preços{
    padding-top: 40px;
    padding-bottom: 40px;
}
.celula-cinza{
    background-color: rgb(240, 240, 240);
}
.celula-vazia{
    background-color: white;
}
.tamanho-padrão{
    width: 150px;
    text-align: center;
}
.bolinha-azul{
    border-radius: 80px;
    display: flex; 
    height: 10px;
    width: 10px;
    background-color:#2f86d6;
    margin:0 auto;
}
.titulo p{ /*thead*/
    font-size: 12px;
    font-weight: normal;
    color: rgb(71, 71, 71);
    margin: 0;
    text-align: center;
}
.titulo h3{ /*thead*/
    font-size: 20px;
    margin: 0;
    text-align: center;
    color: #032c53;
}
.conteiner-preços td{ /*tbody*/
    border: 1px solid rgb(240, 240, 240);
    padding:10px;
}
.contatos-preços{
    background-color: #032c53;
    color: white;
    text-align: center;
    padding:20px 0;
}
.contatos-preços p{
    line-height: 30px;
}
